Repository GeorgePearse/image_clusterer: changes, and which pre-commit hooks are due for each by the changed paths.
All: zuban, oxlint

zuban:
  name: zuban
  entry: zuban check
  language: system

oxlint:
  name: oxlint
  entry: npx oxlint
  language: node
  additional_dependencies:
  - oxlint

Add MkDocs Material deployment workflow for GitHub Pages
  .github/workflows/docs.yml
  .github/workflows/static.yml
  .gitignore
Due: none

Update architecture docs with comprehensive system overview
  docs/architecture.md
Due: none

Add GitHub links for all technologies in architecture docs
  docs/architecture.md
Due: none

Fix Squeeze repo link to GeorgePearse/squeeze
  docs/architecture.md
Due: none

Add pluggable selection strategies for active learning
  backend/app/main.py
  backend/app/oracle.py
  backend/simulate.py
  backend/simulate_remote.py
Due: zuban

Update README with image and feature details
  README.md
Due: none

Add loading screen with progress bar during server initialization
  .env.example
  README.md
  backend/app/main.py
  backend/requirements.txt
  docs/simulation.md
  examples/quick_demo.py
  frontend/src/App.tsx
  frontend/src/api.ts
  mkdocs.yml
Due: zuban, oxlint

Migrate to uv with pyproject.toml
  backend/requirements.txt
  pyproject.toml
Due: none

Add GitHub links to key components in README
  README.md
Due: none

Fix: Remove orphaned setLoading calls that caused runtime error
  frontend/src/App.tsx
Due: oxlint

Update image in README with new asset link
  README.md
Due: none

Enhance README with image and efficiency details
  README.md
Due: none

Add confidence-based visualization for predicted labels
  backend/app/main.py
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/ScatterPlot.tsx
Due: zuban, oxlint

Fix scatter plot not rendering points
  frontend/src/components/ScatterPlot.tsx
Due: oxlint

Add COCO integration roadmap item with Rust pipeline
  docs/roadmap.md
Due: none

Update keyboard shortcuts: Shift+Arrow for history, remove J accept
  README.md
  docs/architecture.md
  docs/usage.md
  frontend/src/App.tsx
Due: oxlint

Add resizable panels and configurable KNN K value
  backend/app/main.py
  frontend/src/App.tsx
  frontend/src/api.ts
Due: zuban, oxlint

Implement ordered suggestions and keyboard shortcuts for faster labelling
  backend/app/main.py
  docs/roadmap.md
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/tsconfig.app.json
  pyproject.toml
Due: zuban, oxlint

Add product design documentation explaining flow state philosophy
  docs/index.md
  docs/product_design.md
Due: none

Add documentation note about human latency and batching experiments
  docs/product_design.md
Due: none

Add RL optimization formulation to simulation docs
  docs/simulation.md
Due: none

Implement Simulation View, Qdrant-based metrics, and UI Strategy Selector
  backend/app/main.py
  backend/app/simulation.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/SimulationView.tsx
  uv.lock
Due: zuban, oxlint

Comprehensive documentation update: features, simulation, usage guide
  docs/architecture.md
  docs/index.md
  docs/usage.md
Due: none

Add "don't know" skip option with Shift+? shortcut
  README.md
  backend/app/main.py
  docs/usage.md
  frontend/src/App.tsx
Due: zuban, oxlint

Add fuzzy matching for label validation
  frontend/src/App.css
  frontend/src/App.tsx
Due: oxlint

Rename project from QuickSort to Rush
  README.md
Due: none

Enhance README with Active Learning details
  README.md
Due: none

Path conditions:
  zuban: any of: ^backend/ and \.py$
  oxlint: any of: \.(js|ts|jsx|tsx)$
